
	
@media screen and (min-width: 992px) and (max-width: 1200px){
	
 	.row2 .col-lg-3 { display: none;}
	.top-nav ul li a {
	font-size: 22px;
	
	}
	.top-menu{
	display:none;}

}


@media screen and (min-width: 768px) and (max-width: 992px)	{


.cart,.row2 .col-lg-3  , .row5 img, .row6 img  , .row5 , .row6{display:none;}
.top-nav ul li a {
	font-size: 18px;
	padding: 0 1px;
		}
	.top-menu{
	display:none;}
}

@media screen and (max-width: 768px){
.cart,.row2 .col-lg-3    , .row5 img, .row6 img , #footer-map ,.row3, #menu, .row4 p{ display:none;}
	.ham{display: block; padding-top: 10%; padding-left:10%;}

}


